<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>浮生若梦的小站</title>
        <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="http://lichangxin.xyz/static/styles.0f99c26152b47df34d8e.css" rel="stylesheet">
        <link href="http://lichangxin.xyz/static/app.0f99c26152b47df34d8e.css" rel="stylesheet">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="http://lichangxin.xyz/static/manifest.0f99c26152b47df34d8e.js"></script>
        <script type="text/javascript" src="http://lichangxin.xyz/static/styles.cf7974dc306c64743035.js"></script>
        <script type="text/javascript" src="http://lichangxin.xyz/static/vendor.3694a10d9e4082ea4507.js"></script>
        <script type="text/javascript" src="http://lichangxin.xyz/static/app.b222f67aad90ff90b338.js"></script>
    </body>
</html>